.ecl-breadcrumb__current-page {
  color: #bfd0e4 !important;
}
/* Cancel ec_resp theme overrides.*/
html {
  font-size: medium;
}
.ecl-page-header h1 {
  color: inherit;
}
.ecl-footer__identity-title{
  color: inherit;
}
.ecl-site-header a:hover,
.ecl-page-header a:hover,
.ecl-footer a:hover {
  text-decoration: none;
}
.ecl-footer a:visited {
  color: #fff;
}
.ecl-footer__identity a:visited {
  color: #004494;
}